<header>

    <div class="menu">
        <label for="" class="logo" id="Logo1">LevelSis</label>
        <ul class="menu_items">
            <li class="active"> {{!-- <img src="resources/img/RegistrarUsuario.png" alt=""> --}}<a href="http://localhost:8080" target="_blank">HOME</a></li>
            <li><a href="http://localhost:8080/login">INICIAR SESION</a></li>
            <li><a href="http://localhost:8080/{{!-- cliente/ --}}register_customer">REGISTRAR</a></li>
            {{!-- <li><a href="#">Portafolio</a></li> --}}
        </ul>

    </div>


    <div class="banner">
        <div class="banner-cont">
            <h1>Bienvenidos a LevelSis</h1>
            <a href="#"> Conocenos </a>
        </div>
    </div>
</header>

{{!-- <header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <img src="resources/img/logo.jpg" id="logo">
            </div>
            <div class="two columns u-pull-right">
                <ul>
                    <li class="submenu">
                        <img src="resources/img/cart.png" id="img-carrito">
                        <div id="carrito">

                            <table id="lista-carrito" class="u-full-width">
                                <thead>
                                    <tr>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
--}}